## Setup Connection to S3 Bucket:

In [167]:
import boto3
import sagemaker
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format='retina'

sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()
bucket = sagemaker_session.default_bucket()
region = boto3.Session().region_name

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

In [168]:
%%bash

aws s3 ls s3://${bucket}/

2023-03-04 00:23:32 sagemaker-studio-328876407652-1zzlgzyu0f7
2023-03-04 00:28:42 sagemaker-us-east-1-328876407652
2023-03-18 04:47:03 testfinalproject088

In [169]:
# To list the S3 Bucket content
!aws s3 ls s3://sagemaker-us-east-1-993410942383/content-project/airline_data/

                           PRE Airline_Customer_Service/
                           PRE WeatherUS_2016/
                           PRE airlineID_carrier_table/
                           PRE airline_flights_table/
                           PRE airport_codes_table/
                           PRE cancellation_table/
2023-03-12 22:40:29  941254313 WeatherEvents_Jan2016-Dec2021.csv

## Set S3 Source Location (Public S3 Bucket):

In [5]:
s3_public_path = "s3://sagemaker-us-east-1-993410942383/content-project/airline_data/"

In [6]:
%store s3_public_path

Stored 's3_public_path' (str)

## Set S3 Destination Location (Private S3 Bucket):

In [7]:
s3_private_path = "s3://testfinalproject088/content/".format(bucket)
print(s3_private_path)

s3://testfinalproject088/content/

In [8]:
%store s3_private_path

Stored 's3_private_path' (str)

## Create Athena Database & Establish Connection:

In [6]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [170]:
# Import PyAthena
from pyathena import connect

In [171]:
ingest_create_athena_db_passed = False

In [172]:
%store -r ingest_create_athena_table_parquet_passed

no stored variable or alias ingest_create_athena_table_parquet_passed

In [173]:
# Create Athena Database
database_name = "testanalysis"

# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [174]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [175]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS testanalysis

In [176]:
# Verify The Database Has Been Created Succesfully
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       default
1  testanalysis

## Create Tables For Athena Database:

### Cancellation Codes Table -

In [123]:
cancellation_s3 = 's3://sagemaker-us-east-1-993410942383/content-project/airline_data/cancellation_table'

In [114]:
table1_name = "cancellation_code"

statement1 = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Index string,
         Code string,
         Description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\,' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table1_name, cancellation_s3
)

In [115]:
pd.read_sql(statement1, conn)

Empty DataFrame
Columns: []
Index: []

In [150]:
# Verify the table was created by way of a query
query1 = "SELECT * FROM {}.{}".format(database_name, table1_name)
pd.read_sql(query1, conn)

  index code          description
0     0    A              Carrier
1     1    B              Weather
2     2    C  National Air System
3     3    D             Security

### Airlline Customer Service Table -

In [185]:
customer_service_s3 = 's3://sagemaker-us-east-1-993410942383/content-project/airline_data/Airline_Customer_Service'

In [186]:
table2_name = "Airline_Customer_Service"

statement2 = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Carrier string,
         Commitment string,
         Provided string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\,' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table2_name, customer_service_s3
)

In [187]:
pd.read_sql(statement2, conn)

Empty DataFrame
Columns: []
Index: []

In [188]:
query2 = "SELECT * FROM {}.{}".format(database_name, table2_name)
pd.read_sql(query2, conn)

Empty DataFrame
Columns: [carrier, commitment, provided]
Index: []

### Airline Carrier ID Table -

In [189]:
carrier_id_s3 = 's3://sagemaker-us-east-1-993410942383/content-project/airline_data/airlineID_carrier_table'

In [192]:
table3_name = "Airline_Carrier_Id"

statement3 = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Index string,
         Code string,
         Description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\,' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table3_name, carrier_id_s3
)

In [193]:
pd.read_sql(statement3, conn)

Empty DataFrame
Columns: []
Index: []

In [194]:
query3 = "SELECT * FROM {}.{}".format(database_name, table3_name)
pd.read_sql(query3, conn)

Empty DataFrame
Columns: [index, code, description]
Index: []

### Airport Codes Table -

In [195]:
airport_codes_s3 = 's3://sagemaker-us-east-1-993410942383/content-project/airline_data/airport_codes_table'

In [196]:
table4_name = "Airline_Codes"

statement4 = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         Index string,
         Code string,
         Description string
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\,' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table4_name, airport_codes_s3
)

In [197]:
pd.read_sql(statement4, conn)

Empty DataFrame
Columns: []
Index: []

In [198]:
query4 = "SELECT * FROM {}.{}".format(database_name, table4_name)
pd.read_sql(query4, conn)

     index code              description
0        0  01A            "Afognak Lake
1        1  03A        "Granite Mountain
2        2  04A                     "Lik
3        3  05A            "Little Squaw
4        4  06A                "Kizhuyak
...    ...  ...                      ...
6380  6380  ZXZ              "Waterville
6381  6381  ZYL                  "Sylhet
6382  6382  ZZU                   "Mzuzu
6383  6383  ZZV              "Zanesville
6384  6384  ZZZ  Unknown Point in Alaska

[6385 rows x 3 columns]

## Visualize Dataset:

In [16]:
df = pd.read_csv("s3://sagemaker-us-east-1-993410942383/content-project/airline_data/airport_codes_table.csv")
df.head()

   Unnamed: 0 Code                                    Description
0           0  01A         Afognak Lake, AK: Afognak Lake Airport
1           1  03A  Granite Mountain, AK: Bear Creek Mining Strip
2           2  04A                       Lik, AK: Lik Mining Camp
3           3  05A         Little Squaw, AK: Little Squaw Airport
4           4  06A                     Kizhuyak, AK: Kizhuyak Bay

In [20]:
df2 = pd.read_csv("s3://sagemaker-us-east-1-993410942383/content-project/airline_data/cancellation_table/CancellationCode_table.csv")
df2.head()

   Unnamed: 0 Code          Description
0           0    A              Carrier
1           1    B              Weather
2           2    C  National Air System
3           3    D             Security

## Possible questions to explore includes:

1. What is the most common reason for flights being cancelled?

### 1. What is the most common reason for flights being cancelled?

In [ ]:
# SQL statement
statement = """
SELECT product_category, AVG(star_rating) AS avg_star_rating
FROM {}.{} 
GROUP BY product_category 
ORDER BY avg_star_rating DESC
""".format(
    database_name, table_name
)

print(statement)